.assetOverviewSection{
    width: 100%;
    padding: 200px 0;
    box-sizing: border-box;
    background-color: #f9fafb;
    .content{
        font-size: 32px;
        font-weight: 700;
        line-height: 1.6;
        color: #191f28;
        text-align: center;
        margin-bottom: 50px;
    }
}