.heroSection{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .banner{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 100%;
        max-width: none;
    }
    .gradient{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(#ffffff, transparent);
        z-index: 1;
    }
    .container{
        position: absolute;
        width: 100%;
        left: 50%;
        top: 150px;
        transform: translate(-50%, 30px);
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        opacity: 0;
        .title{
            font-size: 66px;
            font-weight: 700;
            color: #000;
            text-align: center;
            margin-bottom: 50px;
        }
        .appDownload{
                display: flex;
                flex-direction: row;
            .iosLink{
                display: flex;
                flex-direction: row;
                background-color: rgba(0, 12, 30, 0.8);
                color: rgb(255, 255, 255);
                font-size: 17px;
                padding: 11px 22px;
                border-radius: 5px;
                margin-right: 10px;
                img{
                    margin-right: 6px;
                }
            }
            .aosLink{
                display: flex;
                flex-direction: row;
                background-color: rgba(0, 12, 30, 0.8);
                color: rgb(255, 255, 255);
                font-size: 17px;
                padding: 11px 22px;
                border-radius: 5px;
                img{
                    margin-right: 6px;
                }
            }
        }
    }
    .arrow{
        position: absolute;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        bottom: 10%;
        width: 50px;
        height: 50px;
        border: 3px solid #000;
        border-left: 0;
        border-top: 0;
        animation-name: moveArrow;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes moveArrow {
        0%{
            opacity: 0;
            bottom: 10%;
        }
        100%{
            opacity: 0;
            bottom: 5%;
        }
    }
}