.heroSection{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .banner{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100vh;
        max-width: none;
    }
    .gradient{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 20%;
        background: linear-gradient(#fff, transparent);
        z-index: 1;
    }
}