.heroSection{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("/images/home/new_main.png") center / cover no-repeat;
    .gradient{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(#ffffff, transparent);
        z-index: 1;
    }
    .appDownload{
        display: flex;
        flex-direction: column;
    }
}