.heroSection{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .banner{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 100%;
        max-width: none;
    }
    .gradient{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 20%;
        background: linear-gradient(#ffffff, transparent);
        z-index: 1;
    }
    .container{
        position: absolute;
        width: 100%;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{
            font-size: 66px;
            font-weight: 700;
            text-align: center;
        }
        .appDownload{
                display: flex;
                flex-direction: row;
            .iosLink{
                display: flex;
                flex-direction: row;
            }
            .aosLink{
                display: flex;
                flex-direction: row;
            }
        }
    }
}