.heroSection{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .banner{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100vh;
        max-width: none;
    }
    .gradient{
        background: linear-gradient(#e66465, transparent);
        z-index: 1;
    }
}