.home{
    h2{
        font-size: 28px;
        font-weight: 700;
        color: #3182f6;
        margin-bottom: 30px;
    }
    h3{
        font-size: 50px;
        font-weight: 700;
        line-height: 1.4;
        color: #191f28;
    }
}