.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .logoImage{
        width: 72px;
        height: auto;
        margin-right: 30px;
    }
    .nav_menu{
        display: flex;
        flex-direction: row;
        li{
            padding: 3px 8px;
        }
    }
}