.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 1140px;
    height: 60px;
    margin: 0 auto;
    .logoImage{
        width: 72px;
        height: auto;
        margin-right: 30px;
    }
    .nav_menu{
        display: flex;
        flex-direction: row;
        li{
            padding: 0px 8px;
            a{
                padding: 12px 10px;
                &:hover{
                    background: rgba(2, 32, 71, .05);
                    border-radius: 8px;
                }
            } 
        }
    }
    &:active{
        position: fixed;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.8);
    }
}