.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1920px;
    max-width: 1920px;
    height: 60px;
    margin: 0 auto;
    .logoImage{
        width: 72px;
        height: auto;
        margin-right: 30px;
    }
    .nav_menu{
        display: flex;
        flex-direction: row;
        li{
            padding: 0px 8px;
            a{
                padding: 12px 10px;
                &:hover{
                    background: rgba(2, 32, 71, .05);
                    border-radius: 8px;
                }
            } 
        }
    }
}