.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .nav_menu{
        display: flex;
        flex-direction: row;
        li{
            padding: 3px 8px;
        }
    }
}