.nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1140px;
    height: 60px;
    background: rgba(255, 255, 255, 0);
    z-index: 1000;
    padding: 0 5%;
    box-sizing: border-box;
    border-radius: 20px;
  
    .logoImage {
      width: 72px;
      height: auto;
      margin-right: 30px;
    }
  
    .nav_menu {
      display: flex;
      flex-direction: row;
      li {
        padding: 0 8px;
        a {
          padding: 12px 10px;
          font-size: 15px;
          transition: all 0.3s ease;
          &:hover {
            background: rgba(2, 32, 71, 0.05);
            border-radius: 8px;
          }
        }
      }
    }

    .nation{
        display: flex;
        flex-direction: row;
    }
  }
  